
body{
	margin: 0;
	padding: 0;
}


.left-container {
	position: fixed;
	width: 400px;
	height: 100vh;
	background-color:#85929E ;
}

.photo-contact {
	position: absolute;
	top: 100px;
	
}

.photo {
	width: 150px;
	border-radius: 50%;
	margin-left: 70%;
}

.contactme {
	width: 100%;
	margin-left: 65%;
}

.contact-btn {
	width: 100%;
	margin-left: 65%;
	background-color: white;
	border-radius: 14px;
	margin-bottom: 14px;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 10px;
}

.contact-btn:hover {
	background-color: black;
	color: white;
	transition: 1s;
}

.right-container {
	position: absolute;
	left: 400px;

}

.title {
	font-style: italic;
	font-size: 1.3rem;
}

.top-bar {
	padding-top: 50px;
	padding-left: 100px;
	background-color: #f3f4f5;
}

.list-menu {
	float: right;
	padding-right: 50px;
}

.menu {
	font-size: 1.1rem;
	padding: 0 15px;
}
.menu:hover {
	color: #784212;
}

.logo {
	width:15%;
	height: 20%;
	border-radius: 50%;
}

a {
	text-decoration: none;
	color: black;
}

#profile {
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 5px;
	background-color: #f3f4f5;
}

#about {
	padding-top:20px;
	padding-left: 100px;
	background-color: #ffffff;
}

#garis {
	padding-bottom: 0px;
}

#skill {
	padding-top: 20px;
	padding-left: 100px;
	padding-bottom: 2px;
	background-color: #f3f4f5;
}

#contact {
	padding-top: 100px;
	padding-left: 100px;
}

#footer {
	padding-top: 250px;
	text-align: center;
}

p, li {
	line-height: 200%;
}